<h1>Lista de Tarefas</h1>

<a href="/create/">Criar nova tarefa</a>

<ul>
{% for task in tasks %}
    <li>
        {{ task.title }}

        {% if not task.completed %}
            <a href="/complete/{{ task.id }}/">Concluir</a>
        {% else %}
            (Concluída)
        {% endif %}

        <a href="/delete/{{ task.id }}/">Deletar</a>
        <a href="/update/{{ task.id }}/">Editar</a>
    </li>
{% endfor %}

<form action="/logout/" method="POST">
    {% csrf_token %}
    <button type="submit">Logout</button>
</form>
</ul>